xml-resources/web-service-references/cadastroAnimal/wsdl/192.168.111.96_8084/WebService/cadastroAnimal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="cadastroAnimal">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://192.168.111.96:8084/WebService/cadastroAnimal?xsd=1" />
</xsd:schema>
</types>
<message name="insertEspecie2">
<part name="parameters" element="tns:insertEspecie2" />
</message>
<message name="insertEspecie2Response">
<part name="parameters" element="tns:insertEspecie2Response" />
</message>
<message name="insertRaca">
<part name="parameters" element="tns:insertRaca" />
</message>
<message name="insertRacaResponse">
<part name="parameters" element="tns:insertRacaResponse" />
</message>
<message name="insertAnimal">
<part name="parameters" element="tns:insertAnimal" />
</message>
<message name="insertAnimalResponse">
<part name="parameters" element="tns:insertAnimalResponse" />
</message>
<message name="deleteAnimal">
<part name="parameters" element="tns:deleteAnimal" />
</message>
<message name="deleteAnimalResponse">
<part name="parameters" element="tns:deleteAnimalResponse" />
</message>
<message name="updateEspecie">
<part name="parameters" element="tns:updateEspecie" />
</message>
<message name="updateEspecieResponse">
<part name="parameters" element="tns:updateEspecieResponse" />
</message>
<message name="deleteEspecie">
<part name="parameters" element="tns:deleteEspecie" />
</message>
<message name="deleteEspecieResponse">
<part name="parameters" element="tns:deleteEspecieResponse" />
</message>
<message name="listAllEspecie">
<part name="parameters" element="tns:listAllEspecie" />
</message>
<message name="listAllEspecieResponse">
<part name="parameters" element="tns:listAllEspecieResponse" />
</message>
<message name="deleteRaca">
<part name="parameters" element="tns:deleteRaca" />
</message>
<message name="deleteRacaResponse">
<part name="parameters" element="tns:deleteRacaResponse" />
</message>
<message name="insertEspecie">
<part name="parameters" element="tns:insertEspecie" />
</message>
<message name="insertEspecieResponse">
<part name="parameters" element="tns:insertEspecieResponse" />
</message>
<message name="updateRaca">
<part name="parameters" element="tns:updateRaca" />
</message>
<message name="updateRacaResponse">
<part name="parameters" element="tns:updateRacaResponse" />
</message>
<message name="listAllAnimal">
<part name="parameters" element="tns:listAllAnimal" />
</message>
<message name="listAllAnimalResponse">
<part name="parameters" element="tns:listAllAnimalResponse" />
</message>
<message name="updateAnimal">
<part name="parameters" element="tns:updateAnimal" />
</message>
<message name="updateAnimalResponse">
<part name="parameters" element="tns:updateAnimalResponse" />
</message>
<message name="listAllRaca">
<part name="parameters" element="tns:listAllRaca" />
</message>
<message name="listAllRacaResponse">
<part name="parameters" element="tns:listAllRacaResponse" />
</message>
<portType name="cadastroAnimal">
<operation name="insertEspecie2">
<input wsam:Action="http://service/cadastroAnimal/insertEspecie2Request" message="tns:insertEspecie2" />
<output wsam:Action="http://service/cadastroAnimal/insertEspecie2Response" message="tns:insertEspecie2Response" />
</operation>
<operation name="insertRaca">
<input wsam:Action="http://service/cadastroAnimal/insertRacaRequest" message="tns:insertRaca" />
<output wsam:Action="http://service/cadastroAnimal/insertRacaResponse" message="tns:insertRacaResponse" />
</operation>
<operation name="insertAnimal">
<input wsam:Action="http://service/cadastroAnimal/insertAnimalRequest" message="tns:insertAnimal" />
<output wsam:Action="http://service/cadastroAnimal/insertAnimalResponse" message="tns:insertAnimalResponse" />
</operation>
<operation name="deleteAnimal">
<input wsam:Action="http://service/cadastroAnimal/deleteAnimalRequest" message="tns:deleteAnimal" />
<output wsam:Action="http://service/cadastroAnimal/deleteAnimalResponse" message="tns:deleteAnimalResponse" />
</operation>
<operation name="updateEspecie">
<input wsam:Action="http://service/cadastroAnimal/updateEspecieRequest" message="tns:updateEspecie" />
<output wsam:Action="http://service/cadastroAnimal/updateEspecieResponse" message="tns:updateEspecieResponse" />
</operation>
<operation name="deleteEspecie">
<input wsam:Action="http://service/cadastroAnimal/deleteEspecieRequest" message="tns:deleteEspecie" />
<output wsam:Action="http://service/cadastroAnimal/deleteEspecieResponse" message="tns:deleteEspecieResponse" />
</operation>
<operation name="listAllEspecie">
<input wsam:Action="http://service/cadastroAnimal/listAllEspecieRequest" message="tns:listAllEspecie" />
<output wsam:Action="http://service/cadastroAnimal/listAllEspecieResponse" message="tns:listAllEspecieResponse" />
</operation>
<operation name="deleteRaca">
<input wsam:Action="http://service/cadastroAnimal/deleteRacaRequest" message="tns:deleteRaca" />
<output wsam:Action="http://service/cadastroAnimal/deleteRacaResponse" message="tns:deleteRacaResponse" />
</operation>
<operation name="insertEspecie">
<input wsam:Action="http://service/cadastroAnimal/insertEspecieRequest" message="tns:insertEspecie" />
<output wsam:Action="http://service/cadastroAnimal/insertEspecieResponse" message="tns:insertEspecieResponse" />
</operation>
<operation name="updateRaca">
<input wsam:Action="http://service/cadastroAnimal/updateRacaRequest" message="tns:updateRaca" />
<output wsam:Action="http://service/cadastroAnimal/updateRacaResponse" message="tns:updateRacaResponse" />
</operation>
<operation name="listAllAnimal">
<input wsam:Action="http://service/cadastroAnimal/listAllAnimalRequest" message="tns:listAllAnimal" />
<output wsam:Action="http://service/cadastroAnimal/listAllAnimalResponse" message="tns:listAllAnimalResponse" />
</operation>
<operation name="updateAnimal">
<input wsam:Action="http://service/cadastroAnimal/updateAnimalRequest" message="tns:updateAnimal" />
<output wsam:Action="http://service/cadastroAnimal/updateAnimalResponse" message="tns:updateAnimalResponse" />
</operation>
<operation name="listAllRaca">
<input wsam:Action="http://service/cadastroAnimal/listAllRacaRequest" message="tns:listAllRaca" />
<output wsam:Action="http://service/cadastroAnimal/listAllRacaResponse" message="tns:listAllRacaResponse" />
</operation>
</portType>
<binding name="cadastroAnimalPortBinding" type="tns:cadastroAnimal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="insertEspecie2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertRaca">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertAnimal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteAnimal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateEspecie">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteEspecie">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAllEspecie">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteRaca">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertEspecie">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateRaca">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAllAnimal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateAnimal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAllRaca">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="cadastroAnimal">
<port name="cadastroAnimalPort" binding="tns:cadastroAnimalPortBinding">
<soap:address location="http://192.168.111.96:8084/WebService/cadastroAnimal" />
</port>
</service>
</definitions>